<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <form action="/records/filter" method="GET" name="filter-form">
        <div class="col-8 mx-auto">
          <select name="filteredCategory" class="form-control mx-auto" onchange="submit()" style="font-size: 20px;">
            <option value="" selected>所有類別</option>
            <option value="housewares" {{#is filteredCategory 'housewares' }} selected{{/is}}>家居物業</option>
            <option value="transportation" {{#is filteredCategory 'transportation' }} selected{{/is}}>交通出行</option>
            <option value="entertainment" {{#is filteredCategory 'entertainment' }} selected{{/is}}>休閒娛樂</option>
            <option value="food" {{#is filteredCategory 'food' }} selected{{/is}}>餐飲食品</option>
            <option value="others" {{#is filteredCategory 'others' }} selected{{/is}}>其他</option>
          </select>
        </div>
      </form>
      <div class="row">
        <div class="col-10">
          <div class="col-8 d-flex justify-content-between mx-auto">
            <div class="col-5">
              <p class="ml-3 mt-5" style="font-size: 2vw;">總金額：</p>
            </div>
            <div class="col-3">
              <p style="font-size: 5vw; color:tomato" id="totalAmount">${{totalAmount}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> message}}

  <ul class="list-group">
    <div class="row d-flex justify-content-center" id="data-panel">
      {{#each records}}
      <div class="col-8">
        <li class="list-group-item" id="record-item" style="border: none;">
          <div class="row">
            <div class="col-8 d-flex justify-content-between">
              <div class="col-1 d-flex align-items-center justify-content-center mx-3"
                style="opacity: 0.7; color:turquoise">
                <i class="{{ this.icon }} fa-3x"></i>
              </div>
              <div class="col-6">
                <p style="font-weight: bold; font-size: 20px;">{{ this.name }}</p>
                <small style="font-size: 14px;">{{ this.date }}</small>
              </div>
              <div class="col-2 d-flex flex-row justify-content-center">
                <p class="align-self-center" style="font-weight: bold; font-size: 20px;" id="showAmount">${{
                  this.amount
                  }}</p>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <button class="col-5 btn btn-outline-dark btn-info my-auto" style="font-size:medium; height:fit-content"
                id="edit-btn" data-toggle="modal" data-target="#editModal" data-id="{{ this._id }}"
                data-name="{{ this.name }}" data-date="{{ this.date }}" data-category="{{ this.category }}"
                data-amount="{{ this.amount }}">
                編輯
              </button>

              <button class="col-5 btn btn-outline-dark btn-danger mx-3 my-auto"
                style="font-size:medium; height:fit-content" id="delete-btn" data-toggle="modal"
                data-target="#deleteModal" data-id="{{ this._id }}" data-name="{{ this.name }}"
                data-amount="{{ this.amount }}">
                刪除
              </button>
            </div>
          </div>
        </li>
      </div>
      {{/each}}
      <div class="col-10">
        <div class="row justify-content-center">
          {{!-- create modal button --}}
          <button class="btn col-4 btn-outline-dark my-5"
            style="color:white; background-color:orange; font-size:xx-large;" id="create-btn" data-toggle="modal"
            data-target="#createModal">新增支出</button>
        </div>
      </div>
    </div>
  </ul>
</div>

{{!-- create modal --}}
<div class="modal fade createModal" id="createModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">新增支出</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/records" method="POST">
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">名稱</span>
            </div>
            <input type="text" class="form-control" name="name" placeholder="請輸入名稱" aria-label="inputName"
              aria-describedby="name" value="{{ record.name }}" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="category">類別</label>
            </div>
            <select class="custom-select" id="category" name="category" required>
              <option value="" selected hidden>請選擇</option>
              <option value="housewares" {{#is record.category 'housewares' }} selected {{/is}}>家居物業</option>
              <option value="transportation" {{#is record.category 'transportation' }} selected {{/is}}>交通出行</option>
              <option value="entertainment" {{#is record.category 'entertainment' }} selected {{/is}}>休閒娛樂</option>
              <option value="food" {{#is record.category 'food' }} selected {{/is}}>餐飲食品</option>
              <option value="others" {{#is record.category 'others' }} selected {{/is}}>其他</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" name="inputDate">日期</span>
            </div>
            <input type="date" class="form-control" name="date" id="inputDate" aria-label="inputDate"
              aria-describedby="inputDate" value="{{ record.date }}" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">金額</span>
            </div>
            <input type="number" class="form-control" name="amount" id="amount" placeholder="請輸入金額"
              aria-label="inputAmount" aria-describedby="inputAmount" value="{{ record.amount }}" required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- edit modal --}}
<div class="modal fade editModal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">修改支出</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/records/{{ this._id }}?_method=PUT" method="POST" id="edit-form">
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">名稱</span>
            </div>
            <input type="text" class="form-control" name="name" id="modal-name" placeholder="請輸入名稱"
              aria-label="inputName" aria-describedby="name" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="category">類別</label>
            </div>
            <select class="custom-select" id="modal-category" name="category" required>
              <option value="" selected hidden>請選擇</option>
              <option value="housewares">家居物業</option>
              <option value="transportation">交通出行</option>
              <option value="entertainment">休閒娛樂</option>
              <option value="food">餐飲食品</option>
              <option value="others">其他</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" name="inputDate">日期</span>
            </div>
            <input type="date" class="form-control" name="date" id="modal-date" aria-label="inputDate"
              aria-describedby="inputDate" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">金額</span>
            </div>
            <input type="number" class="form-control" name="amount" id="modal-amount" placeholder="請輸入金額"
              aria-label="inputAmount" aria-describedby="inputAmount" required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-success confirm-btn" id="confirm-save">儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- delete modal --}}
<div class="modal fade editModal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">刪除支出</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>確定刪除<strong id="delete-name">{{ this.name }}</strong>共<strong id="delete-amount">${{ this.amount
            }}</strong>的支出?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/records/{{ this._id }}?_method=DELETE" method="post" id="delete-form">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
      </form>
    </div>
  </div>
</div>